@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #262626;

    --black: #030406;
    --white: #ffffff;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-white leading-relaxed;
  }
}

@layer utilities {
  .gradient-color {
    @apply bg-gradient-to-r from-sky-500 to-indigo-500;
  }
  .gradient-color-green {
    @apply bg-gradient-to-r from-green-600 to-green-400;
  }
}
